@charset "EUC-KR";
html {
    width: 100%;
    height: 100%;
  }
  
  body {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%, rgba(45, 99, 247, 0.466) 100%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8) 0%,rgba(45, 99, 247, 0.466) 100%);
    color: rgba(0, 0, 0, 0.6);
    font-family: "roboto", "Arial";
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .overlay, .form-panel.one:before, .main-panel:before{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  .form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
  }
  .form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, -25%) scale(0);
        -ms-transform: translate(0, -25%) scale(0);
            transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }
  .form-toggle:before, .form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .form-toggle:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .form-toggle:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .form-toggle.visible {
    -webkit-transform: translate(0, -25%) scale(1);
        -ms-transform: translate(0, -25%) scale(1);
            transform: translate(0, -25%) scale(1);
    opacity: 1;
  }
  .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 20px;
  }
  .form-group:last-child {
    margin: 0;
  }
  .form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .three .form-group label {
    color: #FFFFFF;
  }

  .two .form-group label {
    color: #FFFFFF;
  }
  .form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
  }
  .form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
  }
  .three .form-group input, .two .form-group input {
    color: #FFFFFF;
  }
  .three .form-group input:focus, .two .form-group input:focus {
    color: #FFFFFF;
  }
  .form-group button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }
  #makeID{
      width: 310px;
  }
  #confirmID{
    width: 420px;
}

  #checkID{
    width:100px;
    height: 50px;
    background-color: #f0797b;
    border: none;
    color:#fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 20px 0 0 10px;
    cursor: pointer;
  }

  .three .form-group button, .two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
  }
  .form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
  }
  .form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
  }
  .form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
  }
  .form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
  }
  .form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
  }
  .form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .form-panel.three{
    right:95%;
  }
  .form-panel.two{
    left:95%;
  }
  .form-panel.three{
    padding: 60px 60px 60px calc(10% + 60px);
  }
  .form-panel.two{
    padding: 60px calc(10% + 60px) 60px 60px;
  }

  .form-panel.three, .form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
    cursor: pointer;
  }
  .form-panel.three:before, .form-panel.three:after{
    right: 1.5%;
  }
  .form-panel.two:before, .form-panel.two:after{
    left: 1.5%;
  }

  .form-panel.three:before, .form-panel.three:after, .form-panel.two:before, .form-panel.two:after {
    content: '';
    display: block;
    position: absolute;
    top: 60px;
    background: rgba(255, 255, 255, 0.2);
    height: 30px;
    width: 2px;
    -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
  }
  .form-panel.three:after{
    right:3%;
  }
  .form-panel.two:after {
    left: 3%;
  }
  .form-panel.three:hover{
    right: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .form-panel.three:hover:before, .form-panel.three:hover:after, .form-panel.two:hover:before, .form-panel.two:hover:after {
    opacity: 0;
  }
  .form-panel.three.active{
    right: 10%;
  }

  .form-panel.two.active{
    left: 10%;
  }
  .form-panel.three.active, .form-panel.two.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
  }
  .form-panel.three.active:before, .form-panel.three.active:after, .form-panel.two.active:before, .form-panel.two.active:after {
    opacity: 0;
  }
  .form-header {
    margin: 0 0 40px;
  }
  .form-header h1 {
    padding: 4px 0;
    color: rgb(66, 133, 244);
    font-size: 60px;
    font-weight: 900;
    text-align : center;
  }
  .three .form-header h1, .two .form-header h1 {
    font-size : 25px;
    position: relative;
    z-index: 40;
    color: #FFFFFF;
  }
  
  .pen-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
  }
  .pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
  }
  
  .cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
  }